osx_image: xcode7.3
language: objective-c

before_install:
- brew update
- if brew outdated | grep -qx xctool; then brew upgrade xctool; fi

script:
- xctool clean build -project ImagePicker.xcodeproj -scheme ImagePicker-iOS -sdk iphonesimulator
